@import "tailwindcss";
@plugin "daisyui";
:root {

  --prim-color: #4B70F5;
  --prim-light: #a9baf989;

  --Unbounded: "Unbounded", sans-serif;
  --Merienda: "Merienda", cursive;
}


* {
  scroll-behavior: smooth;
}
.Unbounded {
  font-family: var(--Unbounded);
}
.Merienda {
  font-family: var(--Merienda);
}

.hero{
  width: 100%;
  height: 60vh;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% center;
}