@import "tailwindcss";
@plugin "daisyui";
:root {

  --prim-color: #4B70F5;
  --prim-light: #a9baf989;

  --Unbounded: "Unbounded", sans-serif;
  --Merienda: "Merienda", cursive;
}


* {
  scroll-behavior: smooth;
}
.Unbounded {
  font-family: var(--Unbounded);
}
.Merienda {
  font-family: var(--Merienda);
}

