@import "tailwindcss";
@plugin "daisyui";
:root {

  --prim-color: #4B70F5;
  --prim-light: #a9baf989;

  --Unbounded: "Unbounded", sans-serif;
  --Merienda: "Merienda", cursive;
}


* {
  scroll-behavior: smooth;
}
.Unbounded {
  font-family: var(--Unbounded);
}
.Merienda {
  font-family: var(--Merienda);
}

.off-product {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.pause-on-hover:hover {
  animation-play-state: paused;
}

